<!-- Input for date picker -->
<div class="input-wrapper" [ngClass]="{'dark-mode': darkMode}">
  <img src="/assets/calendar-icon.svg" alt="Calendar Icon" />
  <input type="text"
         placeholder="Click to select date"
         readonly
         (click)="onInputClick()"
         [value]="this.inputValue" />
</div>

<!-- Date picker component -->
<ngx-date-picker *ngIf="showDatePicker"
                 [(date)]="date"
                 [config]="config"
                 (dateChange)="onDatePickerChanges()"></ngx-date-picker>
